body {
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle at center, #000 20%, #02021a 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.title {
    position: absolute;
    top: 30px;
    font-size: 30px;
    color: #00ffff;
    text-shadow: 0 0 25px #00ffff;
}

.status {
    position: absolute;
    bottom: 40px;
    color: #00ffff;
}

.orb-wrapper {
    position: relative;
}

.wave {
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 3px solid #00ffff;
    opacity: 0;
}

.orb {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: radial-gradient(circle, #00ffff, #001f3f);
    box-shadow:
        0 0 40px #00ffff,
        0 0 80px #00ffff,
        0 0 140px #00ffff;
}
.orb.listening {
    box-shadow:
        0 0 50px #00ff00,
        0 0 100px #00ff00,
        0 0 160px #00ff00;
}
.orb.speaking {
    box-shadow:
        0 0 60px #ff00ff,
        0 0 120px #ff00ff,
        0 0 200px #ff00ff;
}