*{margin:0;padding:0;box-sizing:border-box;font-family:Segoe UI;}

body{background:#121212;color:white;transition:0.4s;}

.light{background:#f2f2f2;color:black;}

.home{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.hero-card{
background:#1e1e1e;
padding:60px;
border-radius:20px;
text-align:center;
}

button{cursor:pointer;border:none;padding:8px 15px;border-radius:20px;}

.app{display:flex;height:100vh;}

.sidebar{
width:200px;
background:#000;
padding:20px;
}

.main{
flex:1;
padding:20px;
overflow-y:auto;
padding-bottom:120px;
}

#search{
width:100%;
padding:10px;
border-radius:20px;
border:none;
margin-bottom:20px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(160px,1fr));
gap:20px;
}

.song{
background:#181818;
padding:10px;
border-radius:10px;
transition:0.3s;
}

.song:hover{transform:scale(1.05);background:#282828;}

.song img{width:100%;border-radius:10px;}

.player{
position:fixed;
bottom:0;
left:200px;
right:0;
height:90px;
background:#181818;
display:flex;
align-items:center;
padding:10px;
gap:15px;
}

.player img{height:70px;width:70px;border-radius:8px;}

.controls button{background:none;color:white;font-size:18px;}

#progress{flex:1;}

.equalizer{display:flex;gap:3px;margin-top:5px;}

.equalizer span{
width:4px;height:15px;background:#1db954;
animation:equal 1s infinite;
}

.equalizer span:nth-child(2){animation-delay:.2s;}
.equalizer span:nth-child(3){animation-delay:.4s;}
.equalizer span:nth-child(4){animation-delay:.6s;}

@keyframes equal{
0%{height:10px;}
50%{height:25px;}
100%{height:10px;}
}

.loader{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#000;
padding:20px 40px;
border-radius:10px;
display:none;
}