body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
  padding-top: 100px;
}

button {
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
}
