*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#fafafa;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:360px;
background:#fff;
padding:30px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,.15);
text-align:center;
}

h1{
font-size:45px;
color:#0095f6;
margin-bottom:10px;
}

p{
color:#666;
margin-bottom:20px;
}

input{
width:100%;
padding:13px;
margin:10px 0;
border:1px solid #ddd;
border-radius:8px;
font-size:15px;
outline:none;
}

input:focus{
border-color:#0095f6;
}

button{
width:100%;
padding:13px;
margin-top:10px;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
transition:.3s;
}

#loginBtn{
background:#0095f6;
color:white;
}

#googleBtn{
background:#db4437;
color:white;
}

#signupBtn{
background:#222;
color:white;
}

button:hover{
transform:scale(1.02);
opacity:.9;
}

a{
display:block;
margin-top:18px;
text-decoration:none;
color:#0095f6;
font-size:15px;
}

@media(max-width:450px){
.container{
width:95%;
}
}
